*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left,orangered,orange);
    padding: 1px;
}

#form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    background-color:azure;
    text-align: center;
    width: 300px;
    box-shadow: 2px 2px 30px black;
    border-radius: 2%;
    font-size: 20px;
    padding: 10px;
}

img{
    vertical-align: middle;
    border: 2px solid orangered;
    border-radius: 100%;
    width: 150px;
}

p{
    font-size: 20px;
    margin: 10px;
}

h4{
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

#refresh {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 1px 10px;
    cursor: pointer;
    font-size: 50px;
  }
  
  
  #refresh:hover {
    background-color: RoyalBlue;
    cursor: pointer;
  }

#email{
    text-decoration:none;
    background:linear-gradient(to right ,orangered,yellow) ;
    color:white ;
    padding: 5px;
    border-radius: 5px;
}

#phon{
    text-decoration:none;
    background:linear-gradient(to right ,orangered,yellow);
    color:white;
    padding: 5px;
    border-radius: 5px;
} 